    <script>
        function pageScroll() {
    	window.scrollBy(0,50); // horizontal and vertical scroll increments
    	scrolldelay = setTimeout('pageScroll()',100); // scrolls every 100 milliseconds
        }
    </script>
    <style>
        div.fixedscroll {
            position: fixed;
            bottom:3%;
            left: 49%
        }
    </style>

    <div class="fixedscroll">
    <a href="javascript:pageScroll()">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
