
    <!--script type="text/javascript">
        function pageScroll() {
    	   window.scrollBy(0,250);
        }
    </script>

    <style>
        div.fixedscroll {
            position: fixed;
            bottom:3%;
            left: 49%
        }
    </style>

    <div class="fixedscroll">
    <a href="javascript:pageScroll()" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div-->
